/* ----- Fonts -------*/

@font-face {
    font-family: 'woodford_bournebold';
    src: url("../fonts/woodfordbourne/woodfordbourne-bold-webfont.47e83d2c4e7d.eot");
    src: url("../fonts/woodfordbourne/woodfordbourne-bold-webfont.47e83d2c4e7d.eot?#iefix") format('embedded-opentype'),
         url("../fonts/woodfordbourne/woodfordbourne-bold-webfont.2ab9c07048b7.woff2") format('woff2'),
         url("../fonts/woodfordbourne/woodfordbourne-bold-webfont.87a567131a99.woff") format('woff'),
         url("../fonts/woodfordbourne/woodfordbourne-bold-webfont.3dd8d6bb69f2.ttf") format('truetype'),
         url("../fonts/woodfordbourne/woodfordbourne-bold-webfont.662a82acf326.svg#woodford_bournebold") format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ----- Typography ----- */

.swearWord {
    font-size:10rem;
}

/* ----- Section general styling ----- */

section {
  text-align: center;
  padding: 80px 0;
}

.category {
    padding-top: 80px;
}

.vertical-centered {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}
