/* ----- Fonts -------*/

@font-face {
    font-family: 'woodford_bournebold';
    src: url("../fonts/woodfordbourne/woodfordbourne-bold-webfont.47e83d2c4e7d.eot");
    src: url("../fonts/woodfordbourne/woodfordbourne-bold-webfont.47e83d2c4e7d.eot?#iefix") format('embedded-opentype'),
         url("../fonts/woodfordbourne/woodfordbourne-bold-webfont.2ab9c07048b7.woff2") format('woff2'),
         url("../fonts/woodfordbourne/woodfordbourne-bold-webfont.87a567131a99.woff") format('woff'),
         url("../fonts/woodfordbourne/woodfordbourne-bold-webfont.3dd8d6bb69f2.ttf") format('truetype'),
         url("../fonts/woodfordbourne/woodfordbourne-bold-webfont.662a82acf326.svg#woodford_bournebold") format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'texta_altblack';
    src: url("../fonts/texta/latinotype_-_textaalt-black-webfont.d6348593f2c0.eot");
    src: url("../fonts/texta/latinotype_-_textaalt-black-webfont.d6348593f2c0.eot?#iefix") format('embedded-opentype'),
         url("../fonts/texta/latinotype_-_textaalt-black-webfont.77d15ad5c2d5.woff2") format('woff2'),
         url("../fonts/texta/latinotype_-_textaalt-black-webfont.3c22a7bcc9b2.woff") format('woff'),
         url("../fonts/texta/latinotype_-_textaalt-black-webfont.aecf1adae6a3.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;

}
