<!DOCTYPE html>

<!-- index.html -->

<html>

  <head>

    <title>Hello Swearjar with React</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>

  </head>

  <body>
    <div id="content"></div>

    {% load compressed %}
    {% compressed_js 'swearjar' %}

  </body>

</html>
