<!DOCTYPE html>

<!-- index.html -->

<html>

<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Banneord.no - din ukvemsressurs</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="https://d1ml0gfpm9yj9s.cloudfront.net/scrollIt.min.js"></script>
    <script>$(function() { $.scrollIt(); });</script>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="static/css/skeleton.css">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/custom.css">

    <!-- Mobile Specific Metas
 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <div id="content">
    </div>

    {% load compressed %}
    {% compressed_js 'swearjar' %}

</body>

</html>
